# MT11

Realize sua análise descritiva em cima dos [dados apresentados pela UFERSA](https://angicos.ufersa.edu.br/demonstrativo-de-despesas/)

1. Elabore ao menos 5 perguntas relevantes;

2. Responda suas perguntas com texto e gráficos;

3. Chegue a alguma conclusão ou sugestão que ajudem os gestores a melhorarem sua atividade;

4. Toda atividade de ser gerada em um arquivo jupyter e submetida no github da disciplina, dentro da sua pasta pessoal, MT11.

### Criando DataFrame:

In [86]:
import pandas as pd
import numpy as np
from collections import OrderedDict
data = OrderedDict(
{
'Energia':[19181.70, 35118.33,40427.86,36626.66,41831.68,31673.67,38177.03,42899.09,45046.06,43557.83,34007.34,0],
'Agua':[5041.66,6663.98,4061.18,4340.74,4061.18,5034.82,4938.42,2200.66,4176.86,3829.82,4292.54,0],
'Correios':[38.66,0,0,73.02,0,0,22.30,21.55,0,0,0,0],
'Bolsas_Auxilios':[44500,57440,102790,102790,102790,68780,71630,105580,105580,105920,68410,21420],
'Limpeza':[149748.98,41976.55,43617.20,43617.20,56563.36,46404.01,45162.71,46404.04,46404.01,46404.01,46404.01,0],
'Portaria':[0,0,9599.48,20570.24,20570.24,20570.24,20570.24,20570.24,20570.24,20570.24,20570.24,0],
'Vigilancia':[36887.62,36887.62,18667.74,18667.74,18667.74,18667.74,18667.74,18667.74,18667.74,18667.74,18667.74,0],
'Agua_mineral':[1083.60,595.98,866.88,602,559.86,608.02,620.06,602,638.12,589.96,620.06,0],
'Motorista':[16482.12,18982.12,17122.12,20112.12,19262.12,18712.12,16972.12,76002.5,22318.16,21999.19,22019.58,0],
'Reprografia':[62.10,299.25,352.35,157.95,319.05,106.2,434.1,478.05,468.9,191.1,202.5,0],
'Inscricoes':[0,0,250,1200,0,850,0,0,2080,3800,4320,2965],
'Aluno_evento':[0,0,0,0,720,0,1550,6300,2740,6120,700,0],
'Dispesas':[0,0,0,0,0,0,0,0,6850,1560,0,0]
})
MESES = ['JAN','FEV','MAR','ABR','MAI','JUN','JUL','AGO','SET','OUT','NOV','DEZ']

In [87]:
df = pd.DataFrame(data)
df

,Limpeza,Correios,Energia,Reprografia,Agua_mineral,Bolsas_Auxilios,Aluno_evento,Inscricoes,Portaria,Dispesas,Agua,Vigilancia,Motorista
0,149748.98,38.66,19181.70,62.10,1083.60,44500,0,0,0.00,0,5041.66,36887.62,16482.12
1,41976.55,0.00,35118.33,299.25,595.98,57440,0,0,0.00,0,6663.98,36887.62,18982.12
2,43617.20,0.00,40427.86,352.35,866.88,102790,0,250,9599.48,0,4061.18,18667.74,17122.12
3,43617.20,73.02,36626.66,157.95,602.00,102790,0,1200,20570.24,0,4340.74,18667.74,20112.12
4,56563.36,0.00,41831.68,319.05,559.86,102790,720,0,20570.24,0,4061.18,18667.74,19262.12
5,46404.01,0.00,31673.67,106.20,608.02,68780,0,850,20570.24,0,5034.82,18667.74,18712.12
6,45162.71,22.30,38177.03,434.10,620.06,71630,1550,0,20570.24,0,4938.42,18667.74,16972.12
7,46404.04,21.55,42899.09,478.05,602.00,105580,6300,0,20570.24,0,2200.66,18667.74,76002.50
8,46404.01,0.00,45046.06,468.90,638.12,105580,2740,2080,20570.24,6850,4176.86,18667.74,22318.16
9,46404.01,0.00,43557.83,191.10,589.96,105920,6120,3800,20570.24,1560,3829.82,18667.74,21999.19
10,46404.01,0.00,34007.34,202.50,620.06,68410,700,4320,20570.24,0,4292.54,18667.74,22019.58
11,0.00,0.00,0.00,0.00,0.00,21420,0,2965,0.00,0,0.00,0.00,0.00

### Dicionário:

* Reprografia: 
    * *conjunto de técnicas que permitem reproduzir um documento.*


* Qual a diferença entre vigilância e portaria?:
* Qual a diferença entre aluno evento e inscrições?:
* Por que o valor da portaria em janeiro é 0?:
* Por que a vigilância é dobrada em Janeiro e Fevereiro?:
* Por que a limpeza é triplicada no mês de Janeiro?:

## Perguntas:

### 1. Qual mês possui maior gasto?

In [94]:
y = [df.iloc[[mes]].values.sum() for mes in xrange(12)]
x = range(12)
y

[273026.44,
 197963.83000000002,
 237754.81,
 248757.66999999995,
 265345.22999999998,
 211406.82000000001,
 218744.72,
 319725.87,
 275540.08999999997,
 273209.89000000001,
 220214.01000000001,
 24385.0]

In [ ]:
%matplotlib inline  
import matplotlib.pyplot as plt

my_xticks = MESES
plt.xticks(x, my_xticks)
plt.plot(x, y) 
plt.title('GASTOS POR MES')
plt.xlabel('MESES')
plt.ylabel('GASTOS')
plt.show()

### 2. Qual a dispesa mais instável?

### 3. Qual a variação de gastos anual?

### 4. Qual o comportamento das dispesas ao longo do ano?

### 5. Qual o gasto médio de auxílio por aluno?

## Conclusão: